{% extends "base.html" %}

{% block content %}

<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center text-center">
            <h1 class="display-1">Convolutional Neural Network</h1>
        </div>       

    </div>
</div>


<div class="container pt-4 bg-dark text-white text-center">

    <span class="display-2"> What's a CNN? </span><br>
    A CNN is a class of networks commonly used for analyzing image data! <br>
    <hr class="my-2">
    Convolutional Neural Networks contain 3-dimensional layers (width, height, and depth),<br>
    and use filters to perform 'feature extraction' on images, ultimately assigning a probability<br>
    to the possible classifications being trained. 
    
    <hr class="my-2">

    Click below to choose a CNN to interact with!

</div>


<div class="container pt-4">
    <div class="row d-flex p-2"> 
        <div class="col-sm-3"></div>  

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header text-center">
                        COVIDXNet
                    </div>
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">A Deep Convolutional Neural Network</h5>
                    <p class="card-text text-center">Classify X-Ray images as either COVID or Normal</p>
                    <a href="{{url_for('networks.cnn_covid')}}" class="btn btn-secondary text-center">COVIDXNet</a>
                    </div>
                </div>
            </div>
        
        <div class="col-sm-3"></div>  

    </div>
</div>





{% endblock content %}