{% extends "base.html" %}

{% block content %}

<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center text-center">
            <h1 class="display-1">COVIDXNet</h1>
        </div>
        
        <hr class="my-2">
        <div class="d-flex justify-content-center text-center">
            <p>A CNN for COVID detection in chest X Rays</p>
        </div>
    </div>
</div>


<!-- RNN User input Form-->

<div class="container pt-4 bg-dark text-white text-center">

    <span class="h2"> Upload a chest X-Ray image!</span><br>
    You can download plenty of pictures from <a href=https://github.com/ieee8023/covid-chestxray-dataset/tree/master/images target="_blank">this public github</a>.<br>
    Alternativelty, there are other <a href=https://www.researchgate.net/post/updated_list_Last_updated_June_25th_2020_of_Coronavirus_Covid-19_dataset_and_other_Research_Resources target="_blank">Open Source repositories</a> to obtain samples.<br>
    <em>The model will then prodict whether the X-Ray contains COVID symptoms.</em>
    <hr class="my-2">
    <form method="POST" enctype="multipart/form-data">
        <div class='container pt-4'>
            <div class="form-group">
                {{cnnform.hidden_tag()}}
                {{cnnform.filecnn}}
                {{cnnform.submitcnn(class="btn btn-secondary mb-2")}}   
            </div>
        </div>        
    </form>

    {% if cnnoutput %}

    <hr class="my-2">
    
    <p class="h3">{{cnnoutput}}</p>
      
    <br>
    {% endif %}

    </div>
    








<!-- Comments -->

<div class="container fixed-bottom">
    <div id="accordion">
        <div class="card">
          <div class="card text-center" id="headingOne">
                <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2>COVIDXNet Comments</h2>
                </button>
          </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    
                    {%if current_user.is_authenticated %}
                    <!-- Comment Form -->
                    <form method="POST">
                        <div class=form-group>
                        <div class="row">
                            {{commentform.hidden_tag()}}
                            <div class='col text-dark text-center'>
                            {{commentform.text.label}}
                            </div>
                            <div class='col text-center'>
                                {{commentform.submit(class="btn btn-secondary mb-2")}}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col mb-2'>
                            {{commentform.text(class="form-control border border-dark")}}
                            </div>
                        </div>
                    </form>

                    {%else%}

                    <div class='col text-dark text-center'>
                        <p> Please Log in to leave a comment! </p>
                    </div>

                    {%endif%}


                    <!-- Scrollable Table -->
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-dark mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">No </th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Date</th>
                                    <!-- <th scope='col'>Title</th> -->
                                    <th scope='col' colspan="4">Comment</th>                                                          
                                </tr>
                            </thead>
                
                            <tbody>
                            
                                {% for comment in commentquery %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{comment.users.name[0]}}</td>
                                    <td>{{comment.date.date()}}</td>
                                    <th colspan="4">{{comment.text}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}