{% extends "base.html" %}

{% block content %}



<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center text-center">
            <h1 class="display-1">Welcome to an online portfolio</h1>
        </div>
    </div>
</div>

<div class="container bg-light border border-dark rounded">
<hr class="my-2">   
<p>Hi. My name is Benjamin Kavanagh, and I am an aspiring developer. <strong>Thank you</strong> for visiting my portfolio.</p>

<p>This website has been build using Python, HTML, CSS, and (the tiniest bit of) Javascript, and is hosted on Heroku using a single dyno. While its primary intention is to showcase the workings of interactive user interfaced Neural Networks, it also demonstrates full stack development, including:</p>

<p><strong>Back-end:</strong></p>

<ul>
    <li>Web Framework Development using Flask.</li>
    <li>Database Management using SQLAlchemy (SQLite).</li>
    <li>User Authentication through OAuth.</li>
    <li>Web Application Security using HTTPS, SSL, TLS, and SCPs.</li>
    <li>Web Server Gateway Interfacing using GUnicorn. </li>
    <li>Neural Network Deployment using TensorFlow.</li>
    <li>Form control and security using WTForms.</li>
</ul>

<p><Strong>Front End</Strong></p>

<ul>
    <li>Web development through HTML and CSS (utilising Bootstrap) and Javascript.</li>
</ul>
<hr class="my-2">
<p>This project is completely open source, and I encourage you to visit its repository. All code is maintained, commented, and organised.  Each Neural Network has its own repository, for CLI training and testing, including Shakesbot, Tolstoybot, and COVIDXNet.</p>

<p>The Dev Log page provides entries which detail the progression and development process of this portfolio, discussing the challenges faced, and how particular decisions were made.</p>

<p>The Neural Network Page showcases some of the Neural Networks I've developed. The Recurrent Neural Networks are interactive, while the Convolutional Neural Network is a demonstration. <em>(See Dev Log #2 for a more in depth discussion on this).</em></p>

<p><strong>It is not a requirement that you log in.</strong> This functionality merely acts as a demonstration of user login handling, OAuth autherisation with a third party, database management, and web security. 
    The website is secured using SSL, TLS, and HTTPS, with an extremely secure custom Security Content Protocol, and no passwords are saved within the server's database. As such, the only benefit to logging in is 
    to save RNN output into a history database, and to leave a comment for other users to see. All primary functionality is available to everyone.<p>

<p>Thank you for taking your time to visit my portfolio, and I hope you appreciate the passion and joy this project has brought to me.</p>
<hr class="my-2">

</div>
{% endblock content %}