{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1>Privacy Notice</h1>
        </div>
        
        <hr class="my-2">
        <div class="d-flex justify-content-center">
            <p><b>Introduction</b></p>
            <p>Privacy is extremely important and this page is to outline how your privacy is protected when using BAKNet.</p>
            <br>
            <p><b>Who I am</b></p>
            <p>I am an independent developer, and this portfolio is for demonstrative purposes only.</p>
            <br>
            <p><b>What information do I collect? </b> </p>
            <p>If you are not logging in, then no information is collected.</p>
            <p>If you are logging in, then your Email address and name will be stored in a database, along with a unique access "token".</p>
            <br>
            <p><b>How do I use your personal information?</b></p>
            <p>This information is used for website access, and for utilising the deploy models only. This information is not analysed or distributed.</p>
            <br>
            <p><b>What legal basis do I have for prociessing your personal data?</b></p>
            <p>By logging into this website, you are providing your consent for this data to be stored. However, you can revoke this consent from your google account at any time.</p>
            <br>
            <p><b>When do I share personal data?</b></p>
            <p>The only information that is shared is your name, and that is when leaving comments or storing model history.</p>
            <p>These comments and histories can be deleted at any time, and can only be viewed by others who have logged in.</p>
            <br>
            <p><b>Where do I store and process personal data?</b></p>
            <p>This information is stored in a secured database, which cannot be accessed by other users.</p>
            <br>
            <p><b>How do I secure personal data?</b></p>
            <p>Your data is secured via Heroku's server, and will periodically be maintained/cleared on a monthly basis.</p>
            <br>
            <p><b>How long do I keep your personal data for?</b></p>
            <p>The databases containing personal information will be cleared once a month.</p>
            <br>
            <p><b>Your rights in relation to personal data</b></p>
            <p>Under GDPR, you have the right to all data retained in the database including: Acess to personal information, correction and deletion, withdrawal or consent, data portability, restriction of processing and objection, and loging a complaint with the Information Commissioner's Office</p>
            <p>You can exercise any of your rights at any time by emailing benjamin.a.kavanagh@gmail.com</p>
            <br>
            <p><b>Use of automated decision-making and profiling</b></p>
            <p>No automated decision making or profiling is utilised.</p>
            <br>
            <p><b>How to contact me?</b></p>
            <p>You can contact me on benjamin.a.kavanagh@gmail.com</p>
            <br>
        </div>
    </div>
</div>


{% endblock content %}