{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1>Privacy Notice</h1>
        </div>
    </div>
</div>

        
    <div class="container pt-4 bg-dark text-white text-center">

        
            <b>Introduction</b><br>
            Privacy is extremely important, and this page is to outline how your privacy is protected when using BAKNet.<br>
            <b>Who I am</b><br>
            I am an independent developer, and this portfolio is for demonstrative purposes only.<br>
            <b>What information do I collect? </b><br> 
            If you are not logging in, then no information is collected.<br>
            If you are logging in, then your Email address and name will be stored in a database, along with a unique access "token".<br>
            <b>How do I use your personal information?</b><br>
            This information is used for website access, and for utilising the deploy models only. This information is not analysed or distributed.<br>
            <b>What legal basis do I have for processing your personal data?</b><br>
            By logging into this website, you are providing your consent for this data to be stored. However, you can revoke this consent from your google account at any time.<br>
            <b>When do I share personal data?</b><br>
            The only information that is shared is your name, and that is when leaving comments or storing model history.<br>
            These comments and histories can be deleted at any time, and can only be viewed by others who have logged in.<br>
            <b>Where do I store and process personal data?</b><br>
            This information is stored in a secured database, which cannot be accessed by other users.<br>
            <b>How do I secure personal data?</b><br>
            Your data is secured via Heroku's server, and will periodically be maintained/cleared on a monthly basis.<br>
            <b>How long do I keep your personal data for?</b><br>
            The databases containing personal information will be cleared once a month.<br>
            <b>Your rights in relation to personal data</b><br>
            Under GDPR, you have the right to all data retained in the database including:<br>
            Access to personal information, correction and deletion, withdrawal or consent, data portability, restriction of processing and objection, and loging a complaint with the Information Commissioner's Office.<br>
            You can exercise any of your rights at any time by emailing benjamin.a.kavanagh@gmail.com<br>
            <b>Use of automated decision-making and profiling</b><br>
            No automated decision making or profiling is utilised.<br>
            <b>How to contact me?</b><br>
            You can contact me on benjamin.a.kavanagh@gmail.com<br>
       
    </div>


{% endblock content %}