{% extends "base.html" %}

{% block content %}

<!-- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1 class="display-3">Shakesbot</h1>
        </div>
        
        <hr class="my-2">
        <div class="d-flex justify-content-center">
            <p class="lead">A single layer LSTM based RNN</p>
        </div>
    </div>
</div>


<!-- RNN User input Form-->

<div class="container pt-4 bg-dark text-white text-center">

    <span class="h3"> Enter text below to begin text generation! </span><br>
    This could be a name or a sentence.<br>
    <span class="h3"> Choose the temperature!</span><br>
    This affects the probabilites of the characters chosen, a higher percentage is less predicable!
    <p class="lead">Note: This model takes approximately 6 seconds to return generated text.</p>

    

    <form method="POST">
        <div class='container pt-4'>
            <hr class="my-2">
            <div class="form-group">
                {{rnnform.hidden_tag()}}
                {{rnnform.textrnn(class="form-control bg-light border border-light")}}
                <br>
                <div class='row'>
                    <div class='col-2'>
                            {{rnnform.temprnn.label(class='h6')}}                        
                    </div>
                    <div class='col-8'>
                        <div class='container'>
                            <input type="range" min="1" max="200" value="100" class="form-control-range" id="myRange">                       
                        </div>
                    </div>
                    <div class='col-2'>
                            {{rnnform.temprnn(class="form-control bg-light border border-light text-center")}}
                    </div>                
                </div>

                <hr class="my-2">

                {{rnnform.submitrnn(class="btn btn-secondary mb-2")}}   
            </div>
        </div>        
    </form>

    {% if rnnoutput %}

    <hr class="my-2">
        
    <textarea class="form-control" rows="15">{{rnnoutput}}</textarea>
      
    <br> 
      
    {%endif%}

    </div>
    
<!-- 
    <hr class="my-2">

    <textarea id="#rnnoutput" class="form-control" rows="3">{{rnnoutput}}</textarea>

    <br> -->







<!-- Comments -->

<div class="container-fluid fixed-bottom">
    <div id="accordion">
        <div class="card">
          <div class="card text-center" id="headingOne">
                <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h2>RNN Shakesbot Comments</h2>
                </button>
          </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    
                    <!-- Comment Form -->
                    <form method="POST">
                        <div class=form-group>
                        <div class="row">
                            {{commentform.hidden_tag()}}
                            <div class='col text-dark text-center'>
                            {{commentform.text.label}}
                            </div>
                            <div class='col text-center'>
                                {{commentform.submit(class="btn btn-secondary mb-2")}}
                            </div>
                        </div>
                        <div class="row">
                            <div class='col mb-2'>
                            {{commentform.text(class="form-control border border-dark")}}
                            </div>
                        </div>
                    </form>
                

                    <!-- Scrollable Table -->
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-dark mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">No </th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Date</th>
                                    <!-- <th scope='col'>Title</th> -->
                                    <th scope='col' colspan="4">Comment</th>                                                          
                                </tr>
                            </thead>
                
                            <tbody>
                            
                                {% for comment in commentquery %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{comment.users.name}}</td>
                                    <td>{{comment.date.date()}}</td>
                                    <th colspan="4">{{comment.text}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script> 

var slider = document.getElementById("myRange");
var tempoutput = document.getElementById("a-temprnn") 
tempoutput.value = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    tempoutput.value = this.value;
}

</script>

{% endblock content %}