/* Style.css */


body {
    background-image: url("bg-dark.jpg");
    /* https://unsplash.com/photos/xotmnyN3gdc  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Rubik', sans-serif;

    /* https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    
    padding-bottom: 300px;

  }


.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

