/* Style.css */


body {
    background-image: url("bg-dark.jpg");
    /* https://unsplash.com/photos/xotmnyN3gdc  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: 'Rubik', sans-serif;

    /* https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); */
    
    padding-bottom: 100px;
    font-size: 0.8rem;
  }


.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.slidecontainer {
  width: 100%;
}


.slider{
  width: auto;
  display: inline-block;
}


h1 {font-size:1rem;} /*1rem = 16px*/
h2 {font-size:0.8rem;}
h3 {font-size:0.6rem;}

display-1 {font-size:2.5rem;}
display-2 {font-size:1.5rem;}
display-3 {font-size:0.8rem;}
display-4 {font-size:0.5rem;}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
  h2 {font-size:1rem;}
  h3 {font-size:0.8rem;}

  display-1 {font-size:3rem;}
  display-2 {font-size:2rem;}
  display-3 {font-size:1.2rem;}
  display-4 {font-size:0.8rem;}

  body {font-size:0.9rem;}

}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
  h2 {font-size:1.5rem;}
  h3 {font-size:1rem;}

  display-1 {font-size:3.5rem;}
  display-2 {font-size:2.5rem;}
  display-3 {font-size:1.5rem;}
  display-4 {font-size:1.2rem;}

  body {font-size:1rem;}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
  h2 {font-size:2rem;}
  h3 {font-size:1.5rem;}

  display-1 {font-size:4rem;}
  display-2 {font-size:3rem;}
  display-3 {font-size:1.8rem;}
  display-4 {font-size:1.5rem;}

  body {font-size:1.1rem;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
  h2 {font-size:2.5rem;}
  h3 {font-size:2rem;}

  display-1 {font-size:4.5rem;}
  display-2 {font-size:3.5rem;}
  display-3 {font-size:2rem;}
  display-4 {font-size:1.7rem;}

  body {font-size:1.2rem;}
  
}